* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

img {
	height: auto;
	width: 500px;
	padding: 10px 30px;
}

h1 {
	color: darkslategray;
	background-color: aliceblue;
	width: 500px;
	padding: 10px;
	text-align: center;
	margin-top: 30px;
}

h2 {
	color: #3a3a3a;
	background-color: rgb(255, 251, 246);
}

li {
	font-size: 20px;
	padding: 5px;
}

a {
	color: dodgerblue;
}

p {
	font-size: 18px;
}

h1, img, ul {
	margin-left: 20px;
}